<div class="champions show">

  <%= link_to("<< Back to Champions", {:action => 'index'}, :class => 'back-link') %>

  <h2>Show Champion</h2>

  <table summary="Champion detail view">
    <tr>
      <th>Champion Name</th>
      <td><%= @champion.champion_name %></td>
    </tr>
    <tr>
      <th>Primary Role</th>
      <td><%= @champion.primary_role %></td>
    </tr>
    <tr>
      <th>Secondary Role</th>
      <td><%= @champion.secondary_role %></td>
    </tr>
    <tr>
      <th>Damage Type</th>
      <td><%= @champion.damage_type %></td>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= @champion.permalink %></td>
    </tr>
  </table>
</div>