<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menus</h2>
  <div class="identity">Logged in as: <%= session[:username] %></div>
  <ul>
    <li><%= link_to("Manage Champions", { :controller => 'champion', :action => 'index'}) %></li>
    <li><%= link_to("Manage Content", :controller => 'subjects') %></li>
    <li><%= link_to("Manage Admin users", :controller => 'admin_users') %></li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>
